<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" href='/stylesheets/animate.css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Concert+One"
      rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Personas BD - Aplicaciones de Vanguardia
        - Wilfredo Paiz 61541542</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    {{{body}}}


    <script src='/javascript/wow.min.js'></script>
    <script>
      new WOW().init();
      window.history.pushState("", "", '/');
        </script>
      </body>
    </html>
