body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box{
  padding: 1em;
  margin: 1em 0 1em 0;
  border: 2px solid #2c2c2c;
}

.text{
  font-size:18px;
}

.alerta{
  background: #90EE90;
  border-radius: 10px;
  padding: 2em;
  margin-top: 2em;
}

.alerta p{
  font-size: 16px;
  margin: 0;
  padding: 0;
}